.task-done-true {
    text-decoration:line-through;color:grey;
}

.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}


.css-form input.ng-valid.ng-touched {
    background-color: #78FA89;

}